/* main.css */

html, head, body, header, section, nav, h1, h2, h3, h4, ul, ol, li, a, div, {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}
html, body {
  font-family: "Open Sans",sans-serif;
  height: 100%;
  margin: 0;
}
body, input, textarea, select {
  color: #37363b;
	font-family: "Open Sans",sans-serif;
 	font-size: 15px;
}
header{
	background-color: white;
  	box-sizing: border-box;
  	width: 100%;
  	height: 115px;
  	min-width: 1250px;
  	box-shadow: 0 1px 25px rgba(0,0,0,0.4);
  	position: relative;
  	z-index: 1000;
}
main{
  min-height: 1000px;
}
h1{
  font-size: 60px;
  font-family: "Open Sans",sans-serif;
}
a {
    color: #b9b7bf;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    display: block;
    float: right;
    box-sizing: border-box;
    width: 45px;
    height: 44px;
    padding: 15px;
}
p, ul, ol {
  line-height: 25px;
  margin-top: 25px;
  margin-bottom: 0;
}
footer{
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  border-top: 1px solid #dcdbdf;
  margin-top: 40px;
  box-shadow: 0 1px 25px rgba(0,0,0,0.4);
}
.ijyk-logo-outer{
	text-decoration: none;
  	float: left;
  	background-color: white;
  	box-sizing: border-box;
  	width: 340px;
  	height: 115px;
  	padding: 20px;
  	border-right: 1px solid #dcdbdf;
  	position: relative;
  	z-index: 1001;
}
.ijyk-logo{
	 display: block;
	 width: 300px;
	 height: 75px;
	 border: 0;
}
.social-media{
	 height: 57px;
	 width:;
}
.label{
	 display: none;
}
.contact-nav-outer{
    width: 100%;
    height: 115px;
}
.contact{
    height: 44px;
    border-bottom: 1px solid #dcdbdf;
}
.twitter-container{
    width: 300px;
    height: 500px;
    float: right;
}
.ScrollingBanner-container{
    background: url("images/backgrounds/gitwebsite-grey.jpg");
    box-shadow: inset 1px 1px 10px #000000,
                inset -1px -1px 10px #000000;
}
.banner-container {
    position: relative;
    display: block;
    width: 90%;
    height: 500px;
    overflow: hidden;
    margin: 10px auto;
}
.photobanner {
    height: 480px;
    width: 6000px;
    margin-top: 10px;
    position: absolute;
}
.photobanner img{
    width: 853px;
    height: 480px;
    z-index: 1000;
}
.shading{
    background-color: rgba(0, 0, 0, 0.5);
    color: #37363b;
    font-family: "Open Sans",sans-serif;
    font-size: 40px;
    z-index: 1002;
    position: absolute;
    width: 100%;
    height: 480px;
    margin-top: 10px;
}
.scrolling-text{
    display: block;
    width: 600px;
    height: 200px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    margin: 150px auto;
    text-align: center;
    color: #ffffff;
    z-index: 1003;
    padding: 10px;
}
/*keyframe animations*/
.first{
    -webkit-animation: bannermove 70s linear infinite;
       -moz-animation: bannermove 70s linear infinite;
        -ms-animation: bannermove 70s linear infinite;
         -o-animation: bannermove 70s linear infinite;
            animation: bannermove 70s linear infinite;
}
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -3430px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
    margin-left: -3430px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -3430px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -3430px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -3430px;
 }
 
}
nav.main{
    position: relative;
    z-index: 1000;
}
nav.main .nav-items {
    line-height: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav.main .nav-items-top:before, nav.main .nav-items-top:after {
    content: " ";
    display: table;
}
nav.main .nav-items-top:after {
    clear: both;
}
nav.main .nav-items-top a {
    color: #68666f;
    text-decoration: none;
    display: block;
}
nav.main .nav-item-top {
    float: left;
}
nav.main .nav-item-top>a {
    font-weight: 700;
    font-size: 20px;
  box-sizing: border-box;
    height: 71px;
    width: 115px;
    padding: 26px;
    border-top: 1px solid transparent;
    border-right: 1px solid #dcdbdf;
}
nav.main .nav-item-top>a:hover {
    font-weight: 700;
    font-size: 20px;
    box-sizing: border-box;
    height: 71px;
    width: 115px;
    padding: 27px;
    border-top: 1px solid transparent;
    border-right: 1px solid #dcdbdf;
    background: radial-gradient(#FFFFFF, #E6E6E6);
    color: #C00000;
}
nav.main .nav-item-for-past-work>a{
    font-size: 20px;
    padding: 17px;
    line-height: 20px;
}
nav.main .nav-item-for-past-work>a:hover{
    font-size: 20px;
    padding: 17px;
    line-height: 20px;
    color: #C00000;
}
.featured-video-twitter-container{
  max-width: 90%;
  min-width: 1000px;
  height: 650px;
  margin: 10px auto;
  list-style-type: none;
  }
.featured-video{
  width: 70%;
  float: left;
  padding: 10px 10px;
  border-right: 1px solid #dcdbdf;
  max-height: 650px;
}
.twitter-container{
  height: 650px;
  width: 25%;
  float: left;
  padding-left: 15px;
  margin: 10px auto;
}
.twtr-doc{
  width: 100%;
  max-height: 650px;
}
